<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>{{the_title}}</title>
  <link rel="icon" type="image/png" href="static/ico/clock.ico">
   	<link rel="stylesheet" href="static/css/main.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=VT323&amp;subset=latin-ext" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
<div class="container-fluid">
    <div class="intro">
        <h1>
            Calculate the angle between the clock indicators
        </h1>
    </div>
    {%block body%}

		{% endblock %}

</div>

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="about_me">
    <h2>O mnie</h2>
    <p>Informatyką interesuję się odkąd skończyłem 13 lat. Mój pierwszy komputer miał niecałe 5 MHz i 640Kb pamięci operacyjnej. System na jakim pracował to był Ms Dos 6.22. Potem zacząłem bawić się w programowanie w języku Turbo Pascal, następnie Boorland Delphi, html, Php, Mysql, Postgresql, Python, Linux shell.</p>
<address>
  <strong>Grzegorz Wołyniec</strong><br>
  <a href="mailto:#">gwolyniec25@gmail.com</a>
</address>
</div>

<div class="footer">
  <p>Copyright by Grzegorz Wolyniec     design by Tweety86</p>
</div>
<!-- LIBRARY -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
</script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js">
</script>
<script src="http://code.jquery.com/jquery-3.2.1.min.js">
</script>
</body>
</html>
