{% extends 'base.html' %}
{% block body %}

<form method="POST" action="/results">
        <div class="form-group">
            <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
                <label>HOUR:
                    <input name="godzina" type="number" class="form-control" placeholder="ENTER HOUR">
                </label>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
                <label>MINUTE:
                    <input name="minuta" type="number" class="form-control" placeholder="ENTER MINUTES">
                </label>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
                <label>&nbsp;
                    <button type="submit" class="btn btn-default">CALCULATE</button>
                </label>
            </div>
        </div>
    </form>


{% endblock %}
